<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>internetshop.controllers.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allUsers</servlet-name>
        <servlet-class>internetshop.controllers.user.GetAllUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allUsers</servlet-name>
        <url-pattern>/users/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>internetshop.controllers.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>injectData</servlet-name>
        <servlet-class>internetshop.controllers.InjectDataController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>injectData</servlet-name>
        <url-pattern>/injectData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUsers</servlet-name>
        <servlet-class>internetshop.controllers.user.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUsers</servlet-name>
        <url-pattern>/users/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addInShoppingCart</servlet-name>
        <servlet-class>internetshop.controllers.shoppingcart.AddProductToShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addInShoppingCart</servlet-name>
        <url-pattern>/add/products/shoppingcart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>internetshop.controllers.product.AddProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/product/add</url-pattern>

    </servlet-mapping>

    <servlet>
        <servlet-name>allProducts</servlet-name>
        <servlet-class>internetshop.controllers.product.GetAllProductsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allProducts</servlet-name>
        <url-pattern>/products/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allProductsInShoppingCart</servlet-name>
        <servlet-class>internetshop.controllers.shoppingcart.ShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allProductsInShoppingCart</servlet-name>
        <url-pattern>/shoppingcart/products/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProductFromShoppingCart</servlet-name>
        <servlet-class>internetshop.controllers.shoppingcart.DeleteProductFromShoppingCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProductFromShoppingCart</servlet-name>
        <url-pattern>/shoppingcart/products/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>internetshop.controllers.product.DeleteProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/product/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editProduct</servlet-name>
        <servlet-class>internetshop.controllers.product.EditProductsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editProduct</servlet-name>
        <url-pattern>/product/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>confirmOrder</servlet-name>
        <servlet-class>internetshop.controllers.order.ConfirmOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>confirmOrder</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allOrders</servlet-name>
        <servlet-class>internetshop.controllers.order.GetAllOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allOrders</servlet-name>
        <url-pattern>/orders/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>internetshop.controllers.order.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/order/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>orderDetails</servlet-name>
        <servlet-class>internetshop.controllers.order.DetailsOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderDetails</servlet-name>
        <url-pattern>/order/details</url-pattern>
    </servlet-mapping>
</web-app>
